/* General styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #152736;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-left: 25px;
  padding-right: 25px;
}

/* Container styling */
.container {
  width: 300px;
  text-align: center;
}

h1 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #9288C5;
  border-bottom: 1px solid #9288C5;
  padding-bottom: 10px;
}

/* Setting item styling */
.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Label styling */
.label {
  font-size: 16px;
  color: #ffffff;
}

/* Toggle switch styling */
.toggle {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 22px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4a4a4a;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #D473D3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}
